:root.theme-light {
  --bg-color: #FFF1F7; /*цвет фона */
  --pink: #FF8DCB;
  --psevdo-text-color: transparent;
  --h1-text-color: #FFC2E6; /* цвет заголовка h1 */
  --main-font: 'IBM Plex Mono';
  --button-text-color: #353430;
  --h2-text-color: #353430; /* цвет текста у заголовков h2 */
  --decor-color: #353430; /*цвет уголков */
  --decor-text-color: #353430; /* цвет у декоративного текста в баннере*/
  --paragraph-text-color: #353430; /* цвет текста слева */
  --shadow-text-color: #FF0070; /* цвет тени у заголовка h1*/
  --text-color: #353430; /* цвет текста в абзаце */ 
  --hover-text-color: rgba(50, 49, 45, 0.4);
  --bg-image: url(../images/cover-image-light.png); /*картинка для баннера*/
  --h1-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* размер заголовка на десктопе и на планшете */
  --h2-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* размер большого заголовка на мобилке */
  } 

  .page.theme_light {
    width: 1024px;
    justify-content: center;
    font-size: 18px;
    font-family: var(--main-font, 'Arial'), sans-serif;
  }


@media (prefers-color-scheme: light) {
:root {
  --bg-color: #FFF1F7; /*цвет фона */
  --pink: #FF8DCB;
  --psevdo-text-color: #FF0070;
  --psevdo-text-color: transparent;
  --button-text-color: #353430;
  --h1-text-color: #FFC2E6; /* цвет заголовка h1 */
  --main-font: 'IBM Plex Mono';
  --h2-text-color: #353430; /* цвет текста у заголовков h2 */
  --decor-color: #353430; /*цвет уголков */
  --decor-text-color: #353430; /* цвет у декоративного текста в баннере*/
  --paragraph-text-color: #353430; /* цвет текста слева */
  --shadow-text-color: #FF0070; /* цвет тени у заголовка h1*/
  --text-color: #353430; /* цвет текста в абзаце */ 
  --hover-text-color: rgba(50, 49, 45, 0.4);
  --bg-image: url('../images/cover-image-light.png'); /*картинка для баннера*/
  --h1-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* размер заголовка на десктопе и на планшете */
  --h2-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* размер большого заголовка на мобилке */
  }
}

/* Остальные стили */
