.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--main-font, "monospace");
  background-color: var(--bg-color);
  max-width: 1024px;
}

h2:not(.section_images-title) {
  max-width: 315px;
  line-height: 23.4px;
  font-size: var(--main-font-size);
  color: var(--h2-text-color);
}

h3 {
  line-height: 23.4px;
  font-weight: 700;
  color: var(--h3-text-color);
}

h4 {
  line-height: 23.4px;
  font-weight: 400;
  color: var(--h4-text-color);
}

.header {
  /* первый блок - баннер */
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 1024px;
  min-height: 668px;
  height: 100vh;
  margin-bottom: 60px;
}

button {
  background-color: transparent;
  border-radius: 0;
}

.header__theme-menu-button {
  font-size: 18px;
  line-height: 18px;
  height: 26px;
  color: var(--button-text-color);
  font-weight: 400;
  text-transform: lowercase;
  text-align: center;
  border: none;
  padding: 0 13px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-text-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-text-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-text-color);
  pointer-events: none;
}

.header__theme-menu {
  grid-column: 1 / 5;
  grid-row: 1;
  justify-self: center;
  padding-top: 20px;
  padding-bottom: 273px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
}

.rec {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
}

.rec::before {
  content: "rec";
  position: relative;
  margin-top: 20px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin-right: 10px;
  color: var(--psevdo-text-color);
}

.rec::after {
  content: " ";
  position: relative;
  margin-top: 20px;
  margin-right: 29px;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: var(--psevdo-text-color);
  box-shadow: 0 0 4px 2px var(--psevdo-text-color);
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  border-radius: 0;
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  align-self: end;
  left: 20px;
  bottom: 20px;
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  border-radius: 0;
}

.header__title {
  font-size: var(--h1-font-size);
  line-height: 82.5%;
  font-weight: 700;
  color: var(--h1-text-color);
  text-shadow: 4px 4px 0 var(--shadow-text-color);
  grid-column: 1 / 5;
  justify-self: start;
  align-content: center;
  grid-row: 2;
}

.decor-title {
  background-color: var(--pink);
  color: var(--decor-text-color);
}

.header__paragraph {
  max-width: 491px;
  color: var(--decor-text-color);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 23.4px;
  grid-column: 3 / 5;
  grid-row: 3;
  margin-right: 20px;
  margin-top: 114px;
  margin-bottom: 134px;
} /* конец первого блока */

.section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1024px;
  padding: 0 20px;
  margin-bottom: 80px;
}

.section-text {
  line-height: 23.4px;
  font-weight: 400;
  color: var(--text-color);
}

.section__list-items {
  display: flex;
  max-width: 649px;
  flex-direction: column;
  gap: 20px;
}

.section__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.word {
  text-shadow: var(--pink) 2px 2px 0;
  text-decoration: none;
}

.word:focus {
  outline: none;
}

.word:focus-visible {
  outline: 1px solid var(--text-color);
}

.word:hover {
  border-bottom: 1px solid var(--text-color);
}

.section_content {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 80px;
}

.section_content__list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.section_content__list-item {
  max-width: 315px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.section_images {
  max-width: 1024px;
  margin-bottom: 60px;
  padding: 0 20px;
}

.section_images-title {
  margin-bottom: 20px;
}

.images {
  /*начало блока с картинками */
  display: grid;
  gap: 20px;
  line-height: 0;
  grid-template-columns: repeat(3, 1fr);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.images_title {
  font-weight: 700;
  background-color: var(--pink);
  margin-bottom: 20px;
}

.images_item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}

.images_item:nth-child(2) {
  grid-column: 4 / 3;
  grid-row: 1 / 3;
}

.images_item:nth-of-type(3) {
  grid-column: 1 / 1;
  grid-row: 2 / 4;
}

.images_item:nth-of-type(5) {
  grid-column: 2 / 4;
}

.footer_section {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 1024px;
  min-height: 668px;
  height: 100vh;
}

.footer__title {
  font-size: var(--h1-font-size);
  line-height: 82.5%;
  font-weight: 700;
  color: var(--h1-text-color);
  text-shadow: 2px 2px 0 var(--shadow-text-color);
  grid-column: 1 / 5;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

@media (width <=768px) {
  /* планшет */

  h2:not(.section_images-title) {
    max-width: 236px;
  }

  .header {
      min-height: 1024px;
  }

  .header__theme-menu-list {
      display: grid;
      row-gap: 10px;
      padding-right: 20px;
  }

  .header__theme-menu {
      grid-row: 2;
      justify-self: end;
      margin-top: 172px;
      padding: 0;
  }

  img {
      padding: 0;
  }

  .header__title {
      line-height: 99px;
      grid-row: 3;
      margin-top: 173px;
      margin-bottom: 162px;
  }

  .header__paragraph {
      max-width: 364px;
      grid-row: 4;
  }


  .section_content__list-items {
      flex-direction: column;
      max-width: 728px;
  }

  .section_content__list-item {
      max-width: 728px;
  }

  .footer_section {
      grid-template-columns: repeat(2, 1fr);
      min-height: 1024px;
  }
}

@media (width <=375px) {
  /*мобилка */

  .header {
      min-height: 668px;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 40px;
      padding: 10px;
  }

  .header__theme-menu-list {
      display: grid;
      gap: 10px;
      padding: 0;
  }

  .decorated-zone::before {
      top: 10px;
      right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .header__theme-menu {
      justify-self: end;
      margin-top: 65px;
      padding: 0;
  }

  .rec::before {
      margin-top: 10px;
  }

  .rec::after {
      margin-right: 19px;
      margin-top: 10px;
  }

  .header__title {
      line-height: 95.7px;
  }

  .header__paragraph {
      max-width: 355px;
      grid-row: 3;
      margin-right: 0;
      margin-bottom: 66px;
      margin-top: 55px;
  }

  .section {
      flex-direction: column;
      padding: 0 10px;
      margin-bottom: 50px;
  }

  .section_content {
      padding: 0 10px;
      margin-bottom: 50px;
  }

  .section_images-title {
    margin-bottom: 10px;
}

  .section_images {

      padding: 0 10px;
      margin-bottom: 40px;
  }

  .images {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .footer_section {
    min-height: 668px;
  }

  .footer__title {
      font-size: var(--h2-font-size);
  }
}
