:root {
    --bg-color: #000028; /*цвет фона */
    --pink: #ff0070;
    --psevdo-text-color: #ff0070;
    --main-font: "IBM Plex Mono";
    --main-font-size: 18px;
    --h1-text-color: #db00ff; /* цвет заголовка h1 */
    --h2-text-color: #ff0070; /* цвет текста у заголовков h2 */
    --h3-text-color: #000028; /* цвет для заголовка h3 */
    --h4-text-color: #000028; /* цвет для заголовка h4 */
    --decor-text-color: #000028; /* цвет у декоративного текста в баннере*/
    --decor-color: #ff0070; /*цвет уголков */
    --button-text-color: #ff0070;
    --shadow-text-color: #ff0070; /* цвет тени у заголовка h1*/
    --text-color: #f1b2ce; /* цвет текста в абзаце */
    --hover-text-color: rgba(255, 0, 112, 0.4);
    --bg-image: url("../images/cover-image-dark.png"); /*картинка для баннера*/
}
